a.fc-event:active,
a.fc-event:visited,
a.fc-event:hover,
a.fc-event:focus {
  color: #fff;
  text-decoration: none;
}

.popover-title span {
  line-height: 18px;
}

ul.cal-detail-list {
  list-style: none;
  padding: 0;

  .cal-detail h4 {
    font-weight: bold;
  }

  .cal-detail span {
    padding-left: 20px;
    display: inline-block;
  }
}
