a.fc-event:active,
a.fc-event:visited,
a.fc-event:hover,
a.fc-event:focus {
  color: #fff;
  text-decoration: none;
}

.popover-title span {
  line-height: 18px;
}

ul.cal-detail-list {
  list-style: none;
  padding: 0;

  .cal-detail h4 {
    font-weight: bold;
  }

  .cal-detail span {
    margin-left: 20px;
    display: inline-block;
  }

  .cal-detail span.category {
    color: #fff;
  }
  .cal-detail span.Alumni {
    background-color: #5229a3;
  }
  .cal-detail span.Students {
    background-color: #274d9a;
  }
  .cal-detail span.Holidays {
    background-color: #FAD165;
  }
  .cal-detail span.Academics {
    background-color: #0d7813;
  }
  .cal-detail span.Events {
    background-color: #a32929;
  }
}
