a.fc-event:active,
a.fc-event:visited,
a.fc-event:hover,
a.fc-event:focus {
  color: #fff;
  text-decoration: none;
}

.popover-title span {
  line-height: 18px;
}

ul.cal-detail-list {
  list-style: none;
  padding: 0;

  .cal-detail h4 {
    font-weight: bold;
  }

  .cal-detail span {
    margin-left: 20px;
    display: inline-block;
  }
}

.category {
  color: #fff;
  font-size: 90%;
  font-weight: bold;

  padding: 2px 8px;
  border-radius: 4px;

  &.category-alumni {
    background-color: #5229a3;
  }
  &.category-students {
    background-color: #274d9a;
  }
  &.category-holidays {
    background-color: #FAD165;
  }
  &.category-academics {
    background-color: #0d7813;
  }
  &.category-events {
    background-color: #a32929;
  }

}