/* start of decorator 4.5 support for  IE7 and IE8 specifics */
/* '*+' ie7 specific selector */
*+section.layout-title {
  box-sizing: border-box;
  padding: 1em 0;
  height: 50px;
}

/* ie will not have mobile nav */
.navdrawer-container {
  display: block !important;
  width: 100% !important;
  position:relative !important;
}
/* Doesn't have padding for ie since no mobile nav */
.navdrawer-container .navbar-sublist a {
  padding: 9px 15px 8px !important;
}
.layout-header button.btn-nav {
  display: none !important;
}

.navdrawer-container .search {
  float: right !important;
}
/* search max-height fix */
button.search-toggle {
  display: block !important;
  height: 40px;
  *width: 50px!important;
  *padding: 0 !important;
  *background:url(http://qa.ucsd.edu/common/cwp/4.0.0/styles/img/search_ie_icon.png) no-repeat 0 6px!important;
}
