/********************* VARIABLES & MIXINS */
/* BREAKPOINTS */
/* COLORS */
/* LAYOUT VALUES */
/* FONTS */
/* MIXINS */
.profile-listing li.profile-listing-card {
  margin: 1em 0;
  background: #ececec;
  border: 1px solid #e9e9e9;
  width: 99.5%;
  display: inline-block; }
  .profile-listing li.profile-listing-card a {
    color: #016691;
    text-decoration: none; }
  .profile-listing li.profile-listing-card a img {
    width: 13%;
    height: auto;
    float: left; }

.profile-listing-data {
  display: inline-block;
  padding: 1.5%; }
  .profile-listing-data h3 {
    font-size: 160%;
    color: #4b4b4b; }
  .profile-listing-data p {
    width: 80%;
    padding: 1.5%; }

.profile-section {
  width: 72%; }

.profile-section-contact {
  width: 25%;
  padding-left: 2%; }
  @media only screen and (max-width: 640px) {
    .profile-section-contact {
      width: 98%; } }
  .profile-section-contact img {
    width: 100%; }
    @media only screen and (max-width: 640px) {
      .profile-section-contact img {
        float: left;
        width: 125px;
        margin-right: 1em; } }
  .profile-section-contact .profile-contact-list {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    padding-top: 1.5em; }
    @media only screen and (max-width: 640px) {
      .profile-section-contact .profile-contact-list {
        display: inline-block;
        padding: 0;
        width: 50%; } }
    .profile-section-contact .profile-contact-list li {
      display: inline-block;
      background-repeat: no-repeat;
      height: 27px;
      margin: 0 0 1em;
      padding-left: 35px; }
    .profile-section-contact .profile-contact-list li.email {
      background-image: url(img/social-sprite-20.png);
      background-position: 0 1px;
      height: 25px; }
    .profile-section-contact .profile-contact-list li.fax {
      background-image: url(img/social-sprite-20.png);
      background-position: 0 -34px;
      height: 25px; }
    .profile-section-contact .profile-contact-list li.location {
      background-image: url(img/social-sprite-20.png);
      background-position: 0 -88px; }
    .profile-section-contact .profile-contact-list li.phone {
      background-image: url(img/social-sprite-20.png);
      background-position: 0 -171px;
      height: 25px; }
    .profile-section-contact .profile-contact-list li.facebook {
      background-image: url(img/social-sprite-20.png);
      background-position: 0 -234px;
      height: 25px; }
    .profile-section-contact .profile-contact-list li.twitter {
      background-image: url(img/social-sprite-20.png);
      background-position: 0 -417px;
      height: 25px; }
    .profile-section-contact .profile-contact-list li.linkedin {
      background-image: url(img/social-sprite-20.png);
      background-position: 0 -356px;
      height: 25px; }
    .profile-section-contact .profile-contact-list li.googleplus {
      background-image: url(img/social-sprite-20.png);
      background-position: 0 -292px; }
    .profile-section-contact .profile-contact-list li.personal-website {
      background-image: url(img/social-sprite-20.png);
      background-position: 0 -477px;
      height: 25px; }

.profile-section-tabs ul {
  margin: 0;
  padding: 0; }
.profile-section-tabs li {
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  padding: 0 1.25em .5em;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left; }
  .profile-section-tabs li.active {
    border-bottom: 3px solid #0B4A66; }

.profile-tab-container {
  display: inline-block;
  padding: 1em 0;
  border-top: 1px solid #016691; }

/*# sourceMappingURL=profile.css.map */
