/********************* VARIABLES & MIXINS */
/* BREAKPOINTS */
/* COLORS */
/* LAYOUT VALUES */
/* FONTS */
/* MIXINS */
.profile-listing li.profile-listing-card {
  margin: 1em 0;
  background: #ececec;
  border: 1px solid #e9e9e9;
  width: 99.5%;
  display: inline-block; }
  .profile-listing li.profile-listing-card a {
    color: #016691;
    text-decoration: none; }
  .profile-listing li.profile-listing-card a img {
    width: 13%;
    height: auto;
    float: left; }

.profile-listing-data {
  display: inline-block;
  padding: 1.5%; }
  .profile-listing-data h3 {
    font-size: 160%;
    color: #4b4b4b; }
  .profile-listing-data p {
    width: 80%;
    padding: 1.5%; }

.profile-picture img {
  width: 100%; }
  @media only screen and (max-width: 640px) {
    .profile-picture img {
      width: 125px; } }

.profile-tabs ul {
  margin: 0;
  padding: 0; }
.profile-tabs li {
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  padding: 0 1.25em .5em;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left; }
  .profile-tabs li.active {
    border-bottom: 3px solid #0B4A66; }

.profile-tab-container {
  display: inline-block;
  padding: 1em 0;
  border-top: 1px solid #016691; }

.profile-social-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  padding-top: 1.5em; }
  .profile-social-list li {
    background-repeat: no-repeat;
    height: 27px;
    margin: 0 0 10px;
    padding-left: 35px; }
  .profile-social-list li.twitter {
    background-image: url(img/sprite_social.png);
    background-position: 0 -39px;
    height: 33px; }

/*old profile template*/
.imageHolder {
  display: inline-block;
  width: 17%;
  height: 93px;
  float: left;
  min-height: 93px;
  min-width: 110px; }

.faculty-bio {
  float: left;
  width: 72%; }

.contact-info {
  float: right;
  width: 25%;
  padding-left: 2%; }

.contact-info img {
  width: 100%; }

.contact-info ul {
  list-style: none; }

.contact-info li {
  margin: 0 0 1em;
  padding-left: 35px; }

ul.resp-tabs-list {
  margin: 0;
  padding: 0; }

#social-list-profile {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }

#social-list-profile li {
  background-repeat: no-repeat;
  height: 27px;
  margin: 0 0 10px; }

.contact-info .e-mail {
  background-image: url(../img/social-sprite-20.png);
  background-position: 0 1px;
  height: 25px;
  background-repeat: no-repeat; }

.contact-info .fax {
  background-image: url(../img/social-sprite-20.png);
  background-position: 0 -34px;
  height: 25px;
  background-repeat: no-repeat; }

.contact-info .location {
  background-image: url(../img/social-sprite-20.png);
  background-position: 0 -88px;
  background-repeat: no-repeat; }

.contact-info .phone {
  background-image: url(../img/social-sprite-20.png);
  background-position: 0 -171px;
  height: 25px;
  background-repeat: no-repeat; }

#social-list-profile li.facebook {
  background-image: url(../img/social-sprite-20.png);
  background-position: 0 -234px;
  height: 25px; }

#social-list-profile li.twitter {
  background-image: url(../img/social-sprite-20.png);
  background-position: 0 -417px;
  height: 25px; }

#social-list-profile li.linkedin {
  background-image: url(../img/social-sprite-20.png);
  background-position: 0 -356px;
  height: 25px; }

#social-list-profile li.googleplus {
  background-image: url(../img/social-sprite-20.png);
  background-position: 0 -292px; }

#social-list-profile li.personal-website {
  background-image: url(../img/social-sprite-20.png);
  background-position: 0 -477px;
  height: 25px; }

#social-list-profile li.location {
  background-image: url(../img/social-sprite-20.png);
  background-position: 0 -78px; }

#social-list-profile li.fax {
  background-image: url(../img/social-sprite-20.png);
  background-position: 0 -44px;
  height: 25px; }

#social-list li {
  padding: 0 0 0 40px; }

#social-list a {
  vertical-align: middle;
  line-height: 33px; }

.resp-tabs-list li {
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  padding: 0 1.25em .5em;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left; }

.resp-tabs-container {
  padding: 0;
  border-top: 1px solid #016691;
  clear: left; }

h2.resp-accordion {
  cursor: pointer;
  display: none; }

.resp-tab-content {
  display: none;
  padding: 1em 0; }

.resp-tab-active {
  margin-bottom: -1px;
  padding: .2em;
  border-bottom: 3px solid #0B4A66; }

.resp-accordion-active, .resp-content-active {
  display: block; }

h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #c1c1c1;
  border-top: 0 solid #c1c1c1;
  margin: 0;
  padding: 10px 15px; }

h2.resp-tab-active {
  border-bottom: 0 solid #c1c1c1 !important;
  margin-bottom: 0 !important;
  padding: 0.2em; }

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: #00f; }

@media only screen and (max-width: 900px) {
  .resp-tabs-list li {
    font-size: 12px;
    padding: 0 1em 0.5em; } }
.resp-easy-accordion h2.resp-accordion {
  display: block; }

.resp-easy-accordion .resp-tab-content {
  border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child {
  border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0; }

.resp-tab-content-active {
  display: block; }

h2.resp-accordion:first-child {
  border-top: 1px solid #c1c1c1 !important; }

.resp-arrow {
  width: 12px;
  height: 16px;
  float: left;
  padding-right: 15px;
  background: url(//www.ucsd.edu/common/cwp/active-cherry/img/sprite_icon_widget.png) 0 4px no-repeat; }

h2.resp-tab-active span.resp-arrow {
  border: 0;
  background-position: 0 -96px; }

@media only screen and (max-width: 800px) {
  .contact-info, .faculty-bio {
    border: 0;
    padding: 0;
    float: none;
    width: 98%; }

  .contact-info p {
    float: left;
    width: 125px;
    margin-right: 1em; }

  .contact-info {
    margin-left: 1em; }

  .contact-info ul {
    display: inline-block;
    margin-left: 0; }

  .contact-info ul.person-contact {
    margin-bottom: 0; }

  .contact-info img {
    max-width: 100%; }

  .resp-tab-content.resp-tab-content-active {
    padding-left: 20px; }

  ul.resp-tabs-list {
    display: none; }

  h2.resp-accordion {
    font-weight: 400;
    display: block;
    color: #016691;
    border: 0;
    border-top: 1px solid #ccc;
    padding: .2em 0;
    font-size: 150%; }

  h2.resp-tab-active {
    color: #fff;
    background-color: #0b4a67; }

  .resp-tabs-container {
    border-top: 0;
    border-bottom: 1px solid #ccc; }

  .resp-vtabs .resp-tab-content {
    border: 1px solid #C1C1C1; }

  .resp-vtabs .resp-tabs-container {
    border: 0;
    float: none;
    width: 100%;
    min-height: initial;
    clear: none; }

  .resp-accordion-closed {
    display: none !important; }

  .resp-vtabs .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important; } }
div.faculty-list ul {
  list-style: none;
  margin: -1em 0 0; }

.faculty-list ul ul {
  margin: 1em;
  list-style: none;
  overflow: hidden;
  width: auto; }

div.faculty-list ul ul ul {
  margin: 5px 0 5px 20px; }

div.faculty-list li {
  margin: 1em 0;
  background: #ececec;
  border: 1px solid #e9e9e9;
  width: 99.5%;
  display: inline-block;
  zoom: 1;
  vertical-align: top; }

.faculty-list li li {
  display: list-item;
  list-style-type: disc;
  margin: 0 0 0 35px;
  width: auto;
  border: 0; }

div.faculty-list li img {
  width: 17%;
  height: auto;
  float: left; }

div.faculty-list li div {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  padding: 1.5%; }

div.faculty-list.no-photo li div {
  width: 96%; }

div.faculty-list h3 {
  font-size: 160%;
  color: #4b4b4b; }

@media only screen and (max-width: 640px) {
  div.faculty-list li img {
    width: 100px;
    margin-right: 12px; }

  div.faculty-list li div {
    display: block;
    width: 96%;
    padding: 0 10px 5px; } }
@media only screen and (max-width: 510px) {
  div.faculty-list li img {
    float: none;
    margin-right: 0;
    padding: 10px 0 0 10px; } }
div.faculty-list2 ul {
  list-style: none;
  margin-left: -2%; }

div.faculty-list2 li {
  margin: 0 0 3em 2%;
  background: #f8f8f8;
  border: 1px solid #f3f3f3;
  display: inline-block;
  zoom: 1;
  width: 47%;
  min-height: 110px;
  vertical-align: top; }

div.faculty-list2 li img {
  margin-right: 2%;
  width: 30%;
  height: auto;
  float: left; }

div.faculty-list2 li div {
  display: inline-block;
  vertical-align: top;
  width: 66%;
  padding: 7px 0; }

div.faculty-list2 h3 {
  font-size: 160%;
  color: #4b4b4b; }

/*# sourceMappingURL=profile.css.map */
