/* ***********************************************
 * Layout
 *
 * Components:
 *  - base layout
 *  - header
 *  - footer
 *  - nav
 *  - more(?)
 *
 * ***************/

/* ***********************************************
 * BASE
 * ***************/

html, body
{
}
  .layout-container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
  }

  .layout-header {
    width: 100%;
  }
    .layout-title {
      font-family: "Trebuchet MS", sans-serif;

      height: 78px;
      background: #2b92b9;
      padding: 1.5em 0;

    }

  .layout-navbar {
    min-height: 34px;
    width: 100%;

    background-color: #F2F5F7;
    border: 0;
    border-bottom: 1px solid #C8CFD3;
    margin-bottom: 0;
  }

  .layout-main {
    background-color: #fff;
    padding: 1em 0;
    width:100%;
  }

  .layout-footer {
    background-color: #fff;
    width: 100%;

    color: #999;
    font-size: 90%;
    border-top: 1px solid #ccc;
    padding: 1em 0;
    line-height: 1.5;

    > .layout-container {
      background: transparent url(../img/sprite_base.png) right -74px no-repeat;
    }
  }

  h1 {
    color: #d56a03;
    font-weight: 400;
    letter-spacing: .5px;

    margin: 0 0 .25em;
  }



/* ***********************************************
 * HEADER
 * **************/

header
{
}
  #title__header {
    float: left;

    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }

  #title__logo {
    float: right;

    width: 229px;
    height: 45px;

    overflow: hidden;
    text-indent: -999em;
    background: transparent url(../img/sprite_base.png) no-repeat;
    background-position: 0 -3px;
  }


/* ***********************************************
* NAV
* **************/

nav
{
}

.layout-navbar .navbar__list {
  list-style: none;

  padding: 0;
  margin: 0;
}

.navbar__list > li {
  float: left;

  > a {
    display: block;
    color: #004b6e;

    background-color: #FDFDFD;
    border-bottom: solid 3px rgba(255,255,255,.4);
    border-right: solid 1px #C8CFD3;
    border-left: solid 1px rgba(255,255,255,.6);
    padding: 9px 15px 8px;
    text-decoration: none;
  }
}

.search {
  float: right;
  max-width:380px;
}
.search__toggle {
  max-height: 35px;

  background: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  border: 1px solid transparent;
  border-width: 0 1px;

  outline: 0;
  padding: 8px;
}
.search__content {
  display: none;
}

.navbar__list > li:first-child {
  border-left: solid 1px #C8CFD3;
}

/* ***********************************************
* MAIN
* **************/

main
{
}

  .breadcrumbs__list {
    background-color: #fff;

    list-style: none;
    margin-bottom: 0;
    padding: 0;

    > li {
      color: #666;
      display: inline;
      font-size: 80%;
    }
  }

  .main__content {
    line-height: 1.5;
    padding-top: 1em;
  }


/* ***********************************************
 * FOOTER
 * **************/

footer
{
}

  .footer__links {
    list-style: none;

    margin: .5em 0 0;
    padding: 0;

    > li {
      display: inline;

      margin-left: 0;
      margin-right: .5em;
      padding-right: .75em;
    }

    > li:first-child {
      border-right: 1px solid #ccc;
    }
  }


