/* ***********************************************
 * Modules
 *
 * Components:
 *  - breadcrumbs
 *  - search
 *  - title
 *  - buttons
 *  - input
 *  - more(?)
 *
 * ***************/

/* ***********************************************
 * BREADCRUMBS
 * ***************/

#tdr_crumbs {

}

/* ***********************************************
 * SEARCH
 * ***************/

#tdr_search {

}

/* ***********************************************
 * TITLE
 * ***************/

#tdr_title {

}

/* ***********************************************
 * MAIN CONTENT SIDE NAV
 * ***************/

.main-content-nav {
  background: #F2F5F7;
  border: solid 1px #C8CFD3;
  padding: 1em;

  > h2 {
    color: #738AA3;
    font-size: 140%;
    text-shadow: 0 1px 1px #FFF;
    margin: 0 0 .7em;
  }
}

/* ***********************************************
 * BUTTONS
 * ***************/

button {

}

/* ***********************************************
 * INPUT
 * ***************/

input {

}

select {

}