@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Bree+Serif);

a:link, a:visited, .widget_content a:link, .widget_content a:visited {
    color: #1893b8;
}

.flexslider a {
    color: #FFF;
}

#tdr_title_page_title {
    font-family: 'Lora', serif;
}

#tdr_nav_list li.active>a {
    border-bottom: #07425a solid 3px;
}

h1 {
    color: #b87111;
    font-family: 'Lora', serif;
}

h2, h3, h4, h5, h6 {
    color: #707071;
    font-family: 'Lora', serif;
}

#tdr_title {
    background: #07425a;
}

div.styled {
    background: #eeeeee;
}

div.styled h2 {
    color: #b87111;
}

.subhead {
    font-family: 'Bree Serif', serif;
}
