@import url(https://fonts.googleapis.com/css?family=Lato:400);

a:link, a:visited, .widget_content a:link, .widget_content a:visited {
    color: #4765ad;
}

.flexslider a {
    color: #FFF;
}

#tdr_title_page_title {
    font-family: 'Lato', sans-serif;
}

#tdr_title_page_title a {
    color: #FFF;
}

#tdr_title_ucsd_title,  {
    background: transparent url(../img/sprite_base-black.png);
}

.search-button {
    background: transparent url(../img/sprite_base-black.png) -431px -7px no-repeat;
}

#tdr_title_menu_link {
    background: transparent url(../img/sprite_base-black.png) no-repeat  -461px -47px;
}

#tdr_nav {
    background: #ccc;
}

#tdr_nav_list a {
    border-right: solid 1px #BDBDBD;
    border-bottom: solid 1px #ccc;
}

#tdr_nav_list li.active>a {
    border-bottom: #5b5c5c solid 3px;
}

#tdr_nav_list li li a {
    background: #E9E9E9;
    border-bottom: solid 1px #ccc;
}

#tdr_nav_list li ul {
    border-left: 1px solid #eee;
    border-bottom: 1px solid #808080;
}

h1 {
    color: #5b5c5c;
    font-family: 'Lato', sans-serif;
}

h2, h3, h4, h5, h6 {
    color: #707071;
    font-family: 'Lato', sans-serif;
}

#tdr_title {
    background: #636363;
}

div.styled {
    background: #eeeeee;
}

div.styled h2 {
    color: #5b5c5c;
}
